# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Data files (often large, better to keep out of Git if they are raw data)
# raw_documents.json
# chunked_documents.json
# classified_documents.json
# faiss_index.index
# metadata.pkl
venv
# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
